#header {
    width: 90%;
    height: 200px;
    background-color: blue;
    float: left;
}

#menu {
    width: 90%;
    height: 50px;
    background-color: red;
    float: left;
}

#menu_lateral {
    width: 30%;
    height: 500px;
    background-color: green;
    float: left;
}

#banner {
    width: 70%;
    height: 200px;
    background-color: burlywood;
    float: left;
}

#noticias {
    width: 70%;
    height: 400px;
    background-color: cyan;
    float: left;
    clear: both;
}

#texto {
    width: 40%;
    height: 50px;
    border: 2px solid black;
    float: left;
}

#imagem {
    width: 40%;
    height: 50px;
    border: 2px solid black;
    float: left;
}

#rodape {
    width: 30%;
    height: 50px;
    background-color: rgb(156, 198, 65);
    float: left;
}